<html lang='en'>
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <main>
      <section class='heading container cen'>
        <figure class='img-box'>
          <img src='/img/bg3.jpg' />

        <div class='head-box'>
          <h1>
            {{error}}
          </h1>
         <a href="/"  class="button-mid"><button>Go Back</button></a> 
        </div>
        </figure>
      </section>
    </main>

  {{>footer}}
  </body>
</html>