* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.2rem;

  /* for footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 120rem;
  margin: auto;
}

/* NAV BAR */

header {
  background-color: rgb(25, 25, 26);
}

.nav {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  width: 24rem;
  justify-content: space-around;
}

.mm {
  margin-bottom: 6rem;
}
/* HEAD */

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-box p {
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
}

.head-box h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1.8rem;
}

button {
  padding: 1.2rem;
  text-transform: uppercase;
  border-radius: 10%;
  border: none;
  box-shadow: 3px 5px 8px grey;
  background-color: rgb(224, 224, 224);
  font-weight: 600;
  cursor: pointer;
}

span {
  color: rgb(5, 184, 238);
}

.img-box {
  width: 50rem;
}

.img-box img {
  display: block;
  width: 100%;
  transition: all 1s;
}

/* footer */
footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  margin-top: auto;
}

/* about - img */

.txt {
  width: 60rem;
}

.ib2 {
  width: 42rem;
  border-radius: 3%;
  overflow: hidden;
  transition: all 1s;
}

.ib2 img:hover {
  transform: scale(1.1);
}

.ib2:hover {
  box-shadow: 3px 5px 10px rgb(54, 54, 54);
}

/* 404 error page */
.cen {
  justify-content: center;
}

.button-mid {
  display: block;
  text-align: center;
}

/* WEATHER PAGE */

.search_box {
  text-align: center;
  margin-bottom: 8rem;
}

.temp_form {
  position: relative;
}

.temp_form input[type='text'] {
  width: 60%;
  padding: 2rem 3rem;
  border: none;
  background-color: rgb(14, 14, 14);
  border-radius: 3rem;
  color: aliceblue;
  font-size: 1.8rem;
}

::placeholder {
  color: rgb(184, 184, 184);
}

.temp_form input[type='submit'] {
  padding: 1.5rem 2rem;

  position: absolute;
  top: 50%;
  right: 17%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;

  background-color: #009ad8;
  color: #fff;
  font-size: 1.6rem;
}

.temp_form input[type='submit']:hover {
  background-color: #fff;
  color: #009ad8;
}

.tempInformation {
  width: 40rem;
  margin: auto;
  text-align: center;
  background-color: #4d4d4d;
  border-radius: 1rem;
}

.top_layer {
  background-color: rgb(43, 43, 43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main_layer {
  padding: 2rem 5rem;
}

.main_layer p {
  font-size: 2rem;
  text-align: left;
  color: #fff;
}

.middle_layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.middle_layer p {
  font-size: 5rem;
  font-weight: 900;
}

.middle_layer span {
  color: #fff;
}

i {
  color: #009ad8;
}

/* data hide */

.data_hide {
  visibility: hidden;
}

/* media query */

@media (max-width: 34em) {
  .container {
    width: 35rem;
    margin: auto;
  }

  .heading {
    flex-direction: column;
    height: 50rem;
  }

  .img-box {
    width: 38rem;
  }

  .temp_form input[type='text'] {
    width: 80%;
    padding: 1rem 2rem;
  }

  .temp_form input[type='submit'] {
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
  }

  .tempInformation {
    width: 35rem;
  }

  .main_layer p {
    text-align: center;
  }

  .middle_layer p {
    font-size: 4rem;
    font-weight: 900;
  }

  .ib2 {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
  }

  .txt {
    width: 35rem;
  }

  .meq h1 {
    font-size: 4.6rem;
  }

  .cr {
    flex-direction: column-reverse;
    height: 60rem;
  }

  .main_layer {
    padding: 2rem 4rem;
  }
}
